<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wangtao.social.user.mapper.UserInboxMapper">

  <resultMap id="BaseResultMap" type="com.wangtao.social.user.po.UserInbox">
    <id property="id" column="id" jdbcType="BIGINT"/>
    <result property="uuid" column="uuid" jdbcType="VARCHAR"/>
    <result property="messageType" column="message_type" jdbcType="TINYINT"/>
    <result property="postId" column="post_id" jdbcType="BIGINT"/>
    <result property="itemId" column="item_id" jdbcType="BIGINT"/>
    <result property="content" column="content" jdbcType="VARCHAR"/>
    <result property="serviceMessageType" column="service_message_type" jdbcType="TINYINT"/>
    <result property="fromUserId" column="from_user_id" jdbcType="BIGINT"/>
    <result property="toUserId" column="to_user_id" jdbcType="BIGINT"/>
    <result property="readPositionId" column="read_position_id" jdbcType="BIGINT"/>
    <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
    <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
  </resultMap>

  <select id="listByUserIdAndMessageType" resultType="com.wangtao.social.user.api.vo.UserMessageVO">
    select
      a.*,
      b.avatar_url,
      b.nick_name
    from ss_user_inbox a
    left join sys_user b
    on a.from_user_id = b.id
    where a.message_type = #{messageType}
    and a.to_user_id = #{toUserId}
    order by a.id desc
  </select>
</mapper>
