<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wangtao.social.square.mapper.UserFollowerMapper">

  <resultMap id="BaseResultMap" type="com.wangtao.social.square.po.UserFollower">
    <id property="id" column="id" jdbcType="BIGINT"/>
    <result property="userId" column="user_id" jdbcType="BIGINT"/>
    <result property="followerId" column="follower_id" jdbcType="BIGINT"/>
    <result property="status" column="status" jdbcType="TINYINT"/>
  </resultMap>

  <insert id="follower">
    insert into ss_user_follower(
      id,
      user_id,
      follower_id,
     `status`
    )
    values
    (
      #{id},
      #{userId},
      #{followerId},
      #{status}
    )
    on duplicate key update
      `status` = VALUES(`status`)
  </insert>
</mapper>
